/* #####  Base templpate design  ######  */
body{
    margin: 0;
    display: flex;
    flex-direction: column;
}
header{
    height: 20vh;
    padding: 10px 20px 10px 20px;
    text-align: center;
    background-color: rgb(217, 210, 201);
}
h1{
    color: red;
    padding-bottom: 10px;
}
footer{
    position: relative;
    margin-top: 55px;
    height: 20vh;
    text-align: center;
    background-color: rgb(95, 90, 90);
    margin-bottom: 0;
}
footer>ul{
    margin-bottom: 0;
}
li{
    list-style: none;
    display: inline;
    padding-left: 10px;
}
li>a>img{
    border-radius: 25%;
    border: 20px white;
}
footer > small{
    color: rgb(255, 255, 255);
}
footer > p{
    color: rgb(255, 255, 255);
    font-size: larger;
}
li:hover{
    list-style: none;
    display: inline;
    padding-left: 10px;
    opacity: 0.5;
}
li>a>img:hover{
    border-radius: 25%;
    border: 20px white;
    transform: scale(1.5);
}
main{
    height: 50vh;
}

/* ######### index.html design  ###########*/
.sign-up-section, .login-section {
    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 40%;
    padding-left: 60px;
}
.sign-up-link,.login-link{
    text-decoration: none;
    border-radius: 10%;
    border: solid black;
    padding: 1%;
    color: black;
    font-weight: bold;
}
.sign-up-link:hover,.login-link:hover{
    text-decoration: none;
    border-radius: 10%;
    border: solid rgb(55, 43, 120);
    padding: 1%;
    color: rgb(17, 0, 255);
    font-weight: bold;
    opacity: 0.9;
    background-color: rgb(128, 128, 128);
}
@media only screen and (max-width: 800px ) {
    .index-main{
        position: relative;
        margin-top: 50px;
        display: flex;
        flex-direction: column  ;
        align-items: center;
    }
    header{
        height: 25vh;
        padding: 0px 0px 0px 0px;
        text-align: center;
        background-color: rgb(217, 210, 201);
    }
    h1{
        color: red;
        padding-bottom: 0;
    }
}

/*##########################login.html###################################*/
form{
    margin-left: 40%;
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.lg-sml{
    margin-left: 40%;
    display: block;
    padding-top: 50px;
}
legend{
    font-weight: bolder;
    color: red;
}
@media only screen and (max-width:600px){
    form{
        position: relative;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    } 
}

/*##################################   Signin.html  ###################################*/
form{
    margin-left: 40%;
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.sg-sml{
    margin-left: 40%;
    display: block;
    padding-top: 50px;
}
legend{
    font-weight: bolder;
    color: red;
}
@media only screen and (max-width:600px){
    form{
        position: relative;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    } 
}








